{
    "root": true,
    "env": { "browser": true, "es2020": true },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "plugin:jsx-a11y/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "ignorePatterns": ["dist", ".eslintrc.cjs"],
    "plugins": ["@typescript-eslint", "react", "react-refresh"],
    "rules": {
        "react-refresh/only-export-components": ["warn", { "allowConstantExport": true }],
        "indent": "error"
    }
}
